---
layout: nil
---
<?xml version="1.0" encoding="utf-8"?>
%feed(xmlns="http://www.w3.org/2005/Atom")
  %title Brandon Mathis - Design Enthusiast
  %link(href="http://brandonmathis.com/atom.xml" rel="self")
  %link(href="http://brandonmathis.com/")
  %updated= Time.now.xmlschema
  %id http://brandonmathis.com/
  %author
    %name Brandon Mathis
    %email imathis[at]me.com
  - site.posts.sort_by(&:date).reverse[0..14].each do |post|
    %entry
      %title= post.title
      - if post.data['link']
        %link(href="#{post.data['link']}")
      -else
        %link(href="#{full_url(post.url)}")
      %updated=post.date.xmlschema
      %id= full_url(post.id)
      %content(type="html")
        = h(absolute_url(rp(post.content)))
        - if post.data['link']
          = h("<p><a href='#{full_url(post.url)}'>&infin; permalink</a><p>")