---
blog_title: "Brandon Mathis :: Design Enthusiast"

twitter_user: imathis
tweet_count: 3
show_replies: false

delicious_user: imathis
delicious_count: 3

full_url: http://brandonmathis.com
disqus_short_name: designenthusiast

google_custom_search_id: 000682590315597099166:l47aablh-em
google_analytics: true
google_analytics_tracking_id: UA-10876422-1

feedurl: feed://feeds.brandonmathis.com/designenthusiast

---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
  %head
    %title #{page.blog_title} :: #{page.title}
    - if page.respond_to? :description
      %meta(name="description" content="#{page.description}")/
    - if page.respond_to? :keywords
      %meta(name="keywords" content="#{page.keywords}")/
    %link(href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="/images/favicon.png" rel="shortcut icon" type="image/png")
    %link(href="#{page.respond_to?(:feedurl) ? "#{page.feedurl}" : "/atom.xml"}" rel="alternate" title="#{page.blog_title}" type="application/atom+xml")
    - if page.respond_to? :twitter_user
      :javascript
        var twitter_user = "#{page.twitter_user}"
        var show_replies = #{page.show_replies};
        var tweet_count = #{page.tweet_count};
      %script(src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js" type="text/javascript")
      %script(src="/javascripts/mootools-1.2.4.2-more.js" type="text/javascript")
      %script(src="/javascripts/modernizr-1.5.min.js" type="text/javascript")
      %script(src="/javascripts/octopress.js" type="text/javascript")
      %script(src="/javascripts/twitter.js" type="text/javascript")
    - if page.respond_to? :google_analytics
      %script(src="http://www.google-analytics.com/ga.js" type="text/javascript")
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    #header
      .page_width
        %a.title(href="/")=page.blog_title
        - if page.respond_to? :google_custom_search_id
          #search
            %form(action="http://www.google.com/cse" id="cse-search-box")
              %input(type="hidden" name="cx" value="#{page.google_custom_search_id}")
              %input(type="hidden" name="ie" value="UTF-8")
              %input#q(type="text" name="q")
      #nav
        %ul
          %li(class="#{(page.respond_to?(:nav) && (page.nav == 'blog') || !page.respond_to?(:nav) ? 'here' : nil)}")
            %a(href="/") Blog
          %li(class="#{(page.respond_to?(:nav) && (page.nav == 'projects') ? 'here' : nil)}")
            %a(href="/projects") Projects
          %li(class="#{(page.respond_to?(:nav) && (page.nav == 'work') ? 'here' : nil)}")
            %a(href="/work") Work
    #page
      .page_width
        #main(class="#{(page.respond_to?(:no_sidebar) ? 'expanded' : nil)}")
          - if page.respond_to? :date
            .blog
              .article
                %h2= page.title
                .meta
                  by: Brandon Mathis | posted: #{page.date.strftime("%B #{page.date.day.ordinalize}, %Y")}
                = preserve rp(content)
          - else
            = preserve rp(content)
          - unless page.respond_to? :no_comments
            - if page.respond_to? :disqus_short_name
              #disqus_thread
                :javascript
                  var disqus_developer = true
                  var page_path = window.location.pathname;
                  var disqus_url = "#{page.full_url}"+ page_path.substring(0, page_path.length -1);
                  console.log(disqus_url)
                %noscript
                  %a(href="http://#{page.disqus_short_name}.disqus.com/?url=ref") View the discussion thread
                %script(type="text/javascript" src="http://disqus.com/forums/#{page.disqus_short_name}/embed.js")
        - unless page.respond_to? :no_sidebar
          #sidebar
            #blog_links.section.alpha
              %a#rss(href="#{page.respond_to?(:feedurl) ? "#{page.feedurl}" : "/atom.xml"}") Subscribe
              %a#archive(href="/archives.html" title="blog archive") Blog Archive
            - unless page.respond_to? :simple_sidebar
              #hire_me.section
                %h4 Let's Talk
                %p
                  I work on all kinds of projects, from large web applications to simple graphic designs. If you have an idea for a
                  project, I'd love to talk to you about it.
                %p
                  Call me: <strong>+1 (205) 258-8468</strong><br/>
                  Email me: <strong>#{to_html_email('brandon@imathis.com')}</strong>
            .section
              %h4 About Me
              %p
                %img.left(src="/content/avatar.jpg" style="margin-top: 3px; margin-bottom: 0")
                I'm a design enthusiast who's passionate about my craft. I mainly design web applications, but I also love photography and print design.
            - unless page.respond_to? :simple_sidebar
              - if page.respond_to? :twitter_user
                .section
                  %h4 Twitter <small>follow <a href="http://twitter.com/#{page.twitter_user}">@#{page.twitter_user}</a></small>
                  #twitter
                    %ul#twitter_status
                      Status updating...
              - if page.respond_to? :delicious_user
                .section
                  %h4 My Delicious <small><a href="http://delicious.com/#{page.delicious_user}">more &rarr;</a></small>
                  #delicious
                    %script(type="text/javascript" src="http://feeds.delicious.com/v2/js/#{page.delicious_user}?title=&count=#{page.delicious_count}&sort=date&extended")
            .section.omega
              %ol#social
                %li <a href="http://twitter.com/imathis" class="twitter" title="Follow me on Twitter">Twitter</a>
                %li <a href="http://github.com/imathis" class="github" title="My Github profile">Github</a>
                %li <a href="http://facebook.com/brandon.mathis" class="facebook" title="My Facebook profile">Facebook</a>
                %li <a href="http://www.linkedin.com/in/brandonmathis" class="linkedin" title="My Linked-in profile">Linked-in</a>
                %li <a href="http://delicious.com/imathis/" class="delicious" title="My Delicious links">Delicious</a>
                %li <a href="http://flickr.com/photos/imathis/" class="flickr" title="My Flickr photo stream">Flickr</a>
    #footer
      .page_width
        <a href="http://compass-style.org" title="Styled with Compass" class="affiliate compass">Styled with Compass</a>
        <a href="http://apple.com" title="Designed on an Apple computer" class="affiliate apple">Designed on an Apple Computer</a>
        <a href="http://terralien.com/" title="I'm a Terralien crew member" class="affiliate terralien">I'm a Terralien Crew Member</a>
        %span.credit
          Powered by <a href="http://github.com/imathis/octopress">Octopress</a>
          &ndash; design <span class="amp">&</span> content &copy; #{Time.now.strftime('%Y')} &ndash; brandon mathis
    - if page.respond_to? :google_analytics
      //Google Analytics code
      :javascript
        try {
        var pageTracker = _gat._getTracker("#{page.google_analytics_tracking_id}");
        pageTracker._trackPageview();
        } catch(err) {}