---
blog_title: "Brandon Mathis :: Design Enthusiast"

google_analytics: true
google_analytics_tracking_id: UA-10876422-1

feedurl: feed://feeds.brandonmathis.com/designenthusiast

---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")
  %head
    %title #{page.blog_title} :: #{page.title}
    - if page.respond_to? :description
      %meta(name="description" content="#{page.description}")/
    - if page.respond_to? :tags
      %meta(name="keywords" content="#{page.tags}")/
    %link(href="/stylesheets/demo.css" media="screen, projection" rel="stylesheet" type="text/css")
    - if page.respond_to? :demo_css
      %link(href="./#{page.demo_css}" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="/images/favicon.png" rel="shortcut icon" type="image/png")
    %link(href="#{page.respond_to?(:feedurl) ? "#{page.feedurl}" : "/atom.xml"}" rel="alternate" title="#{page.blog_title}" type="application/atom+xml")
    - if page.respond_to? :google_analytics
      %script(src="http://www.google-analytics.com/ga.js" type="text/javascript")
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    #header
      .page_width
        %a.title(href="/")=page.blog_title
      #nav
        %ul
          %li.alpha(class="#{(page.respond_to?(:nav) && (page.nav == 'blog') || !page.respond_to?(:nav) ? 'here' : nil)}")
            %a(href="/") Blog
          %li(class="#{(page.respond_to?(:nav) && (page.nav == 'projects') ? 'here' : nil)}")
            %a(href="/projects") Projects
          %li.omega(class="#{(page.respond_to?(:nav) && (page.nav == 'work') ? 'here' : nil)}")
            %a(href="/work") Work
    #page
      .page_width
        #main(class="expanded")
          %a#back(href="../") &laquo; Project Page
          = rp(content)
    - if page.respond_to? :google_analytics
      //Google Analytics code
      :javascript
        try {
        var pageTracker = _gat._getTracker("#{page.google_analytics_tracking_id}");
        pageTracker._trackPageview();
        } catch(err) {}