---
layout: default
body_id: home_page_layout
nav: home
title: "Brandon Mathis - Design Enthusiast"
description: "I'm a design enthusiast who's passionate about my craft. This is where I show my work, and share what I'm learning."
keywords: "Brandon Mathis, imathis, ruby on rails, ruby, rails, designer, developer, web applications, php, compass, javascript, interactive, UX, UI"
---

#head_quote.section
  %h2 Simplicity is the ultimate sophistication.
  %span.cite &mdash; Leonardo Da Vinci
#featured_work.section
  .art.right
    %img.shadow.medium(src="/content/work/terralien/main_page_thumb.png")
  %h3 Featured Work
  %p
    This project was a collaborative effort by designers
    in the crew. In my mockup I focused mainly on expanding the space theme
    through illustration and logo adaptation. I took inspiration from old toy
    packaging and various 1950’s space posters to bring elements of fun into the
    design.
    <br/>
  %p
    <a href="/work/">See more work &rarr;</a>
.blog.mini
  .section
    - site.posts.sort_by(&:date).reverse[0..2].each_with_index do |post,index|
      .header
        - if post.data["link"]
          = link_to(post.title, post.data["link"], {:class=>"title"})
          %a.permalink(href="#{post.url}") &infin;
        - else
          = link_to(post.title, post.url, {:class=>"title"})
      .article
        - if post.data["exerpt"]
          = site.markdown("#{post.data['exerpt']} &hellip;")
        - else
          = post.content
      .footer
        - if post.data["comments_off"]
          %em.comments_off Comments disabled
        - else
          %a(href="#{post.url}/#disqus_thread")Comments
        %span.vr &nbsp;
        =link_to('Read More &raquo;', post.url, {:class=>'more'})
  .see_more.right
    <a href="/blog/">More from the blog &rarr;</a>