!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}
    %title= page.title
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    %link{:href=>"/stylesheets/screen.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %script{:type=>"text/javascript", :src=>"/javascripts/mootools.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/site.js"}
  %body{:id=>"post"}
    #header_wrapper
      #header
        %h1 Brandon Mathis
        .nav
          %ul
            %li
              %a(href="/" title="Home") Home
            %li
              %a(href="/work/" title="Work") Work
            %li{:class => "here"}
              %a(href="/blog/" title="Blog") Blog
        #blog_links
          %a#rss(href="/blog/atom.xml" title="subscribe")
            %img(src="/images/rss2.png")
            %span Subscribe
          %a#archive(href="/blog/archives.html" title="blog archive") Blog Archive
    #content_wrapper
      #content
        #page_wrapper
          #page.blog
            .contents.section.alpha
              %h2.header
                - if page.respond_to?(:link)
                  = link_to(rp(page.title), page.link, {:class=>"title"})
                - else
                  = rp(page.title)
              .article= rp(content)
              .footer{:class=>(page.respond_to?(:comments_off) ? "alt" : nil)}
                .metadata
                  Published:
                  %span.pubdate=page.date.strftime("%d %b, %Y")
                  - if page.respond_to?(:link)
                    %span.vr &nbsp;
                    Linking to:
                    = link_to(shorten(page.link), page.link)
                - if page.respond_to?(:comments_off)
                  .vr &nbsp;
                  %em.comments_off Comments have been disabled for this post.
                - else
                  #disqus_thread
                  :javascript
                    var disqus_url = "#{full_url(page.url)}";
                  %noscript
                    <a href="http://designenthusiast.disqus.com/?url=ref">View the discussion thread.</a>
                  %script{:type=>"text/javascript", :src=>"http://disqus.com/forums/designenthusiast/embed.js"}
        #sidebar.aside
          /
            %h3.heading Blog Archives
            - posts = site.posts.group_by { |p| p.date.strftime("%Y") }
            - posts.keys.sort.reverse.each do |year|
              %h5= year
              %ul.section
                - posts[year].sort_by(&:date).reverse.each do |post|
                  %li{:style=>"font-size: 60%"}= link_to(post.title, post.url)
    #footer_wrapper
      #footer
        #page_bottom
        .bottom_nav
          .contents
            %a.ucase(href="#") &uarr; back to top
        #foot_bottom.alone
          <a href="http://compass-style.org" title="Styled with Compass" class="affiliate compass">Styled with Compass</a>
          <a href="http://apple.com" title="Designed on an Apple computer" class="affiliate apple">Designed on an Apple Computer</a>
          <a href="http://terralien.com/" title="I'm a Terralien crew member" class="affiliate terralien">I'm a Terralien Crew Member</a>
          .text_links
            Site powered by
            %a(href="http://jekyllrb.com/") Jekyll
            &ndash;
          %h6 design <span class="amp">&</span> content &copy; mmix &ndash; brandon mathis