!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}
    %title= page.title
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    %link{:href=>"/stylesheets/screen.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %script{:type=>"text/javascript", :src=>"/javascripts/mootools.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/site.js"}
  %body{:id=>"post"}
    #header_wrapper
      #header
        %h1 Brandon Mathis
        .nav
          %ul
            %li
              %a(href="/" title="Home") Home
            %li
              %a(href="/work/" title="Work") Work
            %li{:class => "here"}
              %a(href="/blog/" title="Blog") Blog
    #content_wrapper
      #content
        #page_wrapper
          #page.blog
            .contents.section.alpha
              %h2.header
                - if page.respond_to?(:link)
                  = link_to(page.title, page.link, {:class=>"title"})
                - else
                  = page.title
              .article=content
              .footer{:class=>(page.respond_to?(:comments_off) ? "alt" : nil)}
                %span.pubdate
                  Posted:
                  =page.date.strftime("%d %b, %Y")
                - if page.respond_to?(:comments_off)
                  %span.vr &nbsp;
                  %em.comments_off Comments have been disabled for this post.
                - else
                  #disqus_thread
                  :javascript
                    var disqus_developer = true;
                    var disqus_url = "#{page.url}";
                  %noscript
                    <a href="http://designenthusiast.disqus.com/?url=ref">View the discussion thread.</a>
                  %script{:type=>"text/javascript", :src=>"http://disqus.com/forums/designenthusiast/embed.js"}
        #sidebar.aside
          /
            %h3.heading Blog Archives
            - posts = site.posts.group_by { |p| p.date.strftime("%Y") }
            - posts.keys.sort.reverse.each do |year|
              %h5= year
              %ul.section
                - posts[year].sort_by(&:date).reverse.each do |post|
                  %li{:style=>"font-size: 60%"}= link_to(post.title, post.url)
    #footer_wrapper
      #footer
        #page_bottom
        .bottom_nav
          .contents
            %a.ucase(href="#") &uarr; back to top
        #about.section
          .contents
            %h5 About Me
            %span.avatar
              %img(src="/content/avatar.jpg")
            %p
              I&rsquo;m a design enthusiast who&rsquo;s passionate about my craft. I mainly design web applications, but<br/>I also love photography and print design.
              %br
              %br
              %a(href="/about.html") Read more &rarr;
        #twitter.section
          .contents
            %h5 Twitter
            .tweet
              %p#twitter_status
                Status updating...
            %p.follow
              %img(src="/images/twitter_bird.png")
              %span
                follow
                %a(href="http://twitter.com/imathis") imathis
        #contact.section
          .contents
            %h5 Contact Me
            %ul
              %li <a href="m&#97;ilto:&#105;&#109;&#97;&#116;&#104;&#105;&#115;&#64;&#109;&#101;&#46;&#99;&#111;&#109;? title="send an email to Brandon Mathis">&#105;&#109;&#97;&#116;&#104;&#105;&#115;&#64;&#109;&#101;&#46;&#99;&#111;&#109;</a>
              %li +1 (205) 258-8648
              %li
                %ul#social
                  %li <a href="http://twitter.com/imathis" class="twitter" title="Follow me on Twitter">Twitter</a>
                  %li <a href="http://github.com/imathis" class="github" title="My Github profile">Github</a>
                  %li <a href="http://facebook.com/brandon.mathis" class="facebook" title="My Facebook profile">Facebook</a>
                  %li <a href="http://www.linkedin.com/in/brandonmathis" class="linkedin" title="My Linked-in profile">Linked-in</a>
                  %li <a href="http://delicious.com/imathis/" class="delicious" title="My Delicious links">Delicious</a>
                  %li <a href="http://flickr.com/photos/imathis/" class="flickr" title="My Flickr photo stream">Flickr</a>
        #foot_bottom
          %h6 design <span class="amp">&</span> content &copy; mmix &ndash; brandon mathis
          <a href="http://compass-style.org" title="Styled with Compass" class="affiliate compass">Styled with Compass</a>
          <a href="http://apple.com" title="Designed on an Apple computer" class="affiliate apple">Designed on an Apple Computer</a>
          <a href="http://terralien.com/" title="I'm a Terralien crew member" class="affiliate terralien">I'm a Terralien Crew Member</a>
          .text_links
            Generated by
            %a(href="http://jekyllrb.com/") Jekyll